 body {
        background: black;
        padding-top: 52px; 
    }
    .jumbotron {
        width: 1280px;
        height: 796px;
    }

        /* --- navbar --- */
    .navbar > .container-fluid {
        height: 52px;
    }
    .navbar > .container-fluid > .btn {
        margin: 10px 5px 5px 0px;
    }
    .navbar-brand > img {
        margin-top: -11px;
    }

        /* --- col xs 6 --- */
    .col-xs-12 , .col-md-6 {
        height: 800px;

    }
    .col-xs-12 , .col-md-6 > img, h3, p {
        margin-top: 50px;
        text-align: center;
        color: white;

    }

        /* --- paralax images --- */
    #parallax1 {
        background-image: url('/img/five/freddy.jpg');
    
            /* Set a specific height */
        min-height: 500px;

            /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #parallax2 {
        background-image: url('/img/five/bonnie.jpg');
    
            /* Set a specific height */
        min-height: 500px;

            /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #parallax3 {
        background-image: url('/img/five/chica.jpg');
    
            /* Set a specific height */
        min-height: 500px;

            /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #parallax4 {
        background-image: url('/img/five/foxy.jpg');
    
            /* Set a specific height */
        min-height: 500px;

            /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
