body {
    background-color: black;
}

.navbar {
    height: 40px;
}

.navbar-brand {
    font-size: 15px;
}

.container {
    margin-top: 25px;
}

.projects {
    text-align: center;
    background: black;
    margin: none;
}

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 0px;
}
